<div class="container">
  <div class="row">
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" data-target="#navItems" data-toggle="collapse" class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/users">Users</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right pointer">
          <li *ngIf="user" routerLinkActive="active">
            <a [routerLink]="['/users', user._id]">{{ user.username }}</a>
          </li>
          <li>
            <a (click)="handleLogout()">Logout<i class="icon-indent-left glyphicon glyphicon-log-out"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
