<div class="container">
  <div class="row">
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" data-target="#navItems" data-toggle="collapse" class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active">
            <a routerLink="/sign-in" class="text-uppercase">Sign in</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/sign-up" class="text-uppercase">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
