.pointer {
  cursor: pointer;
}

.icon-indent {
  &-left {
    padding-left: 10px;
  }
}

.resize {
  &-vertical {
    resize: vertical;
  }
}

.disable-link-hovers {
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: 0 !important;
    text-decoration: none;
  }
  &:active {
    outline: 0 !important;
    text-decoration: none;
  }
}
